.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.pitch {

}

.pitch-line {
  height: 100px;
}

.goal-line {
  text-align: center;
}

.defense-line {
  text-align: center;
}

.midfield-line {
  text-align: center;
}

.attack-line {
  text-align: center;
}

.player-left {
  float: left;
  padding-left: 50px;
  padding-right: 50px;
}

.player-right {
  float: right;
  padding-left: 50px;
  padding-right: 50px;
}
