@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
  font-family: 'Roboto Slab', serif;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.pitch {
  width: 400px;
  background: url("half-pitch.png") no-repeat center;
  background-size: cover;
}

.pitch-line {
  height: 100px;
}

.goal-line {
  text-align: center;
  padding-top: 8px;
}

.defense-line {
  text-align: center;
}

.midfield-line {
  text-align: center;
}

.attack-line {
  text-align: center;
}

.player {
  background: url("shirt.png") no-repeat center;
  height: 32px;
}

.player-center {
  text-align: center;
}

.player-left {
  float: left;
  padding-left: 50px;
  padding-right: 50px;
}

.player-right {
  float: right;
  padding-left: 50px;
  padding-right: 50px;
}